* {
  --blue: #217DC1;
  --dark-blue: #1B69A3;
  --light-blue: #4BC9F6;
  --white: #FFF;
  --red: #FF5A54;
  --gray: #AEABAE;
  --light-gray: #F4F0F4;
  --dark-gray: #979797;
  --black: #000;
  box-sizing: content-box; }

body, html {
  font-family: Roboto, helvetica, arial, san-serif;
  font-size: 1em; }

body {
  background-image: linear-gradient(90deg, #44B7ED 0%, #1F64D8 100%);
  /* Combined Shape: */
  background-image: linear-gradient(-135deg, #217DC1 0%, #37B0EF 100%);
  background: linear-gradient(90deg, #217DC1 0%, #37B0EF 100%); }

.width {
  margin-left: auto;
  margin-right: auto;
  max-width: 67em; }

h1, h2, h3, h4 {
  font-family: Roboto, sans-serif;
  font-weight: 100; }

h1 {
  font-size: 2.5rem; }

h2 {
  font-size: 2rem; }

h3 {
  font-size: 1.3rem; }

body > section {
  padding: 2rem 1rem; }

article > div {
  padding: .5rem; }

.flex {
  display: flex;
  justify-content: space-between; }

.flex-around {
  justify-content: space-around; }

.flex-row {
  flex-direction: row; }

.flex-col {
  flex-direction: column; }

.no-pad {
  padding: 0; }

.no-mar {
  margin: 0; }

#splash, #pricing {
  overflow: hidden; }

#splash {
  background-size: contain; }

#beta-button {
  perspective: 1000px; }
  #beta-button .btn {
    padding: 1em 15%;
    transition: .6s ease;
    transform: translateY(0) rotateX(0) translate3d(0, 0, 0); }
  #beta-button .btn:hover {
    transform: translateY(0.3em) rotateX(10deg) translate3d(0, 0, 2em);
    box-shadow: 0 20px 50px 0 rgba(255, 146, 139, 0.4); }
  #beta-button p {
    color: var(--dark-blue);
    margin: 0;
    padding: 0;
    font-size: 1.625em;
    font-weight: 300; }
  #beta-button h2 {
    color: var(--dark-blue);
    font-weight: bold;
    margin: 0;
    padding: 0;
    font-size: 2em; }

.white-angle {
  background: white;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  margin: 8% 0 4% 0;
  padding-top: 3em;
  padding-bottom: 6em; }
  .white-angle::before {
    content: '';
    pointer-events: none;
    background: url(/img/white-angle-t.svg) bottom left;
    position: absolute;
    bottom: 99%;
    width: 110%;
    height: 0px;
    padding-bottom: 7%;
    display: block;
    left: -10%; }
  .white-angle::after {
    content: '';
    pointer-events: none;
    background: url(/img/white-angle-b.svg) top left;
    position: absolute;
    top: 99%;
    width: 110%;
    height: 0px;
    padding-bottom: 3%;
    display: block;
    left: -10%; }

#splash h1, #splash h2, #splash p, #splash a {
  color: var(--white);
  text-align: center; }

#splash #audio-player {
  width: 35rem;
  box-shadow: inset 0 -0.4rem 0 var(--red);
  padding: .5rem;
  box-shadow: 0 2px 20px 0 #0F6BB0;
  border-radius: 5px;
  text-align: center;
  background: var(--white);
  padding: 1.5rem;
  margin: 0 auto;
  text-align: left; }

#audio-player small {
  font-weight: bold;
  color: var(--gray); }

.btn {
  /* Rectangle 5: */
  background: linear-gradient(135deg, #FF5A54 0%, #D84C47 100%) var(--red);
  box-shadow: 0 9px 17px 0 rgba(255, 146, 139, 0.27);
  border-radius: 2px;
  color: var(--white);
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bolder;
  padding: 1.2em 2.5rem;
  font-size: 1.2em; }

.btn-small {
  padding: .3rem 1rem .2rem;
  border: 1px solid var(--white);
  border-radius: .25rem;
  text-transform: uppercase;
  text-decoration: none;
  font-size: .875rem;
  font-family: Roboto, sans-serif; }

#beta-button {
  text-align: center; }

#splash .card {
  width: 12rem;
  height: 14rem;
  box-shadow: inset 0 -0.4rem 0 var(--red);
  padding: .5rem;
  box-shadow: 0 2px 20px 0 #0F6BB0;
  border-radius: 5px;
  text-align: center; }

#laptop-ui {
  width: 50%; }

#laptop-ui img {
  width: 100%; }

.card {
  background: var(--white);
  box-shadow: 0 2px 20px 0 #0F6BB0;
  border-radius: 5px;
  width: 30%; }

.progress {
  flex: 10;
  position: relative;
  display: flex;
  flex-basis: 100%;
  height: .5rem;
  transition: height 0.3s;
  background: var(--light-gray);
  border-radius: 10px;
  cursor: ew-resize;
  overflow: hidden; }

.progress__filled {
  width: 1%;
  background: var(--light-blue);
  flex: 0;
  flex-basis: 1%;
  /*border-radius: 10px;*/ }

#notation-timeline {
  margin-top: -.3rem;
  z-index: 10;
  position: relative;
  height: 1.25rem; }

#audio-player-left {
  margin-right: 1rem; }

#audio-player-right {
  width: 100%; }

#audio-player h3 {
  color: var(--black);
  margin-top: 0;
  padding-top: 0;
  font-weight: bold; }

#audio-control {
  background: #F4F0F4;
  border: 1px solid #C9D1D5;
  display: flex;
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  color: var(--blue); }

.time-stamp {
  font-size: .75rem;
  color: var(--gray); }

#splash .comment-container {
  position: absolute;
  top: -.4em; }
  #splash .comment-container.comment-1 {
    left: 0; }
  #splash .comment-container.comment-2 {
    left: 12.4%; }
  #splash .comment-container.comment-3 {
    left: 29.1%; }
  #splash .comment-container.comment-4 {
    left: 58%; }
  #splash .comment-container.comment-5 {
    left: 67%; }
  #splash .comment-container.comment-6 {
    left: 87%; }
  #splash .comment-container.comment-7 {
    left: 96%; }
  #splash .comment-container::after {
    content: "";
    background: url("/img/comment-tail.svg");
    display: block;
    width: 1.8rem;
    height: 1rem;
    z-index: 3;
    position: absolute;
    top: 1.8rem;
    left: -.3rem;
    transform: rotate(180deg);
    transition: all .1s ease-in-out; }
  #splash .comment-container .comment-pop {
    z-index: 0;
    position: absolute;
    left: -2.5rem;
    top: 2.6rem;
    width: 18.75rem;
    background: #FBFAFB;
    border: 1px solid var(--gray);
    box-shadow: 0 .3rem .9rem 0 #0F6BB0;
    border-radius: 1.5rem;
    font-size: .85rem;
    transition: all .1s ease-in-out;
    visibility: visible;
    opacity: 1; }
    #splash .comment-container .comment-pop p {
      text-align: left;
      color: #6A6A6A;
      padding: 0;
      margin: .4rem 0 1rem; }
  #splash .comment-container section {
    margin: 1rem 1rem; }
  #splash .comment-container header {
    align-items: center;
    font-size: .85rem; }
    #splash .comment-container header strong {
      font-size: 2rem;
      font-family: Roboto;
      vertical-align: middle; }
  #splash .comment-container .user-ico {
    width: 2.3rem; }
  #splash .comment-container .comment-notch .user-ico img {
    width: 1.5rem;
    margin-top: .5rem; }
  #splash .comment-container.closed::after {
    visibility: none;
    opacity: 0;
    top: 1.6rem; }
  #splash .comment-container.closed::before {
    display: none; }
  #splash .comment-container.closed .comment-pop {
    visibility: hidden;
    opacity: 0;
    top: 2.6rem; }
  #splash .comment-container.closed .comment-notch {
    display: inherit; }

.tag {
  background: #F8F5F8;
  border: 1px solid #979797;
  border-radius: 4px;
  padding: .3rem .6rem;
  font-size: .8rem;
  font-size: 11px;
  color: #000000; }

#features {
  padding: 0;
  padding-left: 1em;
  color: var(--white);
  margin-bottom: -1.9em;
  justify-content: center; }

#cards {
  max-width: 15rem;
  min-width: 12rem; }

#laptop {
  background: url("/img/laptop-ui.png") no-repeat left center;
  background-size: 52rem auto;
  height: 32rem;
  width: 52rem;
  max-width: 52rem; }

#signup {
  background: var(--white);
  align-items: center; }
  #signup h2 {
    text-align: center;
    color: var(--blue);
    font-weight: 300; }
  #signup h3 {
    text-align: center;
    color: var(--black);
    font-weight: 300; }
  #signup > * {
    width: 50%;
    min-width: 44rem; }
  #signup #mc-embedded-subscribe {
    width: 90%;
    min-height: 40px;
    background: var(--red);
    border-radius: 2px;
    text-transform: uppercase; }
